{% extends "base.html" %}

{% block title %}Measures{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Measures</h1>
    {% for measure in measures %}
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ measure.name }}</p>
            <p class="subtitle is-6">{{ measure.cost }}</p>
          </div>
        </div>

        <div class="content">{{ measure.description }} </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
